{% extends 'layout.html' %}

{% block content %}

    <h1 class="mt-5">Encontrar Candidatos</h1>
    <p class="lead">
    Encuentra al candidato perfecto para tu equipo en cuestión de segundos. Nuestra plataforma analiza habilidades y tecnologías para ofrecerte las mejores coincidencias de forma inteligente. ¡Optimiza tu búsqueda y conecta con talento altamente capacitado hoy mismo!
    </p>

    <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.job_description.label(class_="form-label") }}
            {{ form.job_description(class_="form-control") }}
            {% for error in form.job_description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Buscar Candidatos</button>

    </form>
    <hr>
    <p><small><i>Ejemplo: "Buscamos un desarrollador Java con experiencia en los frameworks Spring e Hibernate"</i></small></p>
{% endblock %}