{% extends 'layout.html' %}

{% block content %}

    <h1 class="mt-5">Registrar CV</h1>
    <p class="lead">
    Descubre tu próximo gran desafío profesional con nuestra plataforma inteligente. Analizamos tus habilidades y te conectamos con las mejores oportunidades laborales en tecnología. ¡Haz match con empresas que valoran tu talento y da el siguiente paso en tu carrera!
    </p>
    <form method="POST" action="/register">
        <div class="mb-3">
            <label for="applicant_description" class="form-label">Ingresa la descripci&oacute;n del candidato:</label>
            <textarea class="form-control" id="applicant_description" name="applicant_description" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Registrar candidato</button>
    </form>

{% endblock %}